<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>  
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="" id="root">Loading... React App</div>
</body>
<script  src="/javascripts/build.js">
</script>

</html>